#top {
list-style-type: none;
display: block;
}
#top li 
{
	 display: inline-block;
	 width: 5%;
	 float: right;
	 
}
#logo
{ display: block;
	 margin: auto;
}
 #bottom_left
 {
 	 list-style-type: none;
 	 float: left;
 	}

 #bottom_right
 { float: right;
 	 list-style-type: none;
 }
 footer li
{ 
 display: inline-block;

}
footer
{
	background-color: #f2f2f2;
}


